<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81b0a2">  <td>18/04/23 13:50:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrbitzTc.demoTest()[pri:0, instance:com.orbitz.tc.OrbitzTc@146ba0ac]">demoTest</td> 
  <td>TestNG-tests-2@301908759</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/04/23 13:50:34</td>   <td>3221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrbitzTc.demoTest()[pri:0, instance:com.orbitz.tc.OrbitzTc@3e6fa38a]">demoTest</td> 
  <td>TestNG-tests-1@1258819098</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/04/23 13:50:25</td>   <td>-6541</td> <td>&nbsp;</td><td title="&gt;&gt;OrbitzTc.launchBowser(java.lang.String)[pri:0, instance:com.orbitz.tc.OrbitzTc@146ba0ac]">&gt;&gt;launchBowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@301908759</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>18/04/23 13:50:25</td>   <td>-6541</td> <td>&nbsp;</td><td title="&gt;&gt;OrbitzTc.launchBowser(java.lang.String)[pri:0, instance:com.orbitz.tc.OrbitzTc@3e6fa38a]">&gt;&gt;launchBowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1258819098</td>   <td></td> </tr>
</table>
